.navbar {
    background-color: white;
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 70px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: 1px solid #ddd;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 80%;
}

.logo img {
    height: 40px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}
.nav-link {
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    color: #007bff;
}

.dropdown {
    position: relative;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 40px;
    left: 0;
    background: white;
    color: black;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    padding: 10px 0;
    z-index: 10;
}

.dropdown-item {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
}

@media screen and (max-width: 768px) {
    .navbar{
    padding: 15px ;
    }
    .navbar-container {
        max-width: 100%;
    }
    .menu-icon {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        height: calc(100% - 60px);
        background: white;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        padding: 20px 0;
        overflow-y: auto;
    }

    .nav-links.open {
        display: flex;
    }

    .nav-links li {
        text-align: center;
        width: 100%;
    }

    .dropdown-menu {
        position: static;
        box-shadow: none;
    }
}
